@font-face {
  font-family: Stratos;
  src: url('/static/fonts/stratosskyengweb-regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background: var(--blue-120, #004980);
  font-family: Stratos;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 774px;
  padding: 158px 272px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 46px;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.header-text {
  color: #fff;
  font-family: Stratos;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;
  font-weight: 400;
}

.header-text-count {
  font-size: 64px;
  line-height: 72px;
}

.header-text span {
  font-size: 16px;
  line-height: 32px;
  vertical-align: 3.8em;
  margin-left: -1.8em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c2f5ff;
  font-family: Stratos;
  width: 480px;
  height: 459px;
  border-radius: 12px;
}

.main-text {
  width: 208px;
  color: #004980;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Stratos;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.main-text-win {
  margin-top: 9px;
  width: 256px;
}

.main-time {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 28px;
}

.main-date {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin-top: 10px;
}

.main-checbox {
  display: flex;
  gap: 26px;
  margin-top: 48px;
}

.main-checbox-text {
  color: var(--blue-100, #0080c1);
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.main-checbox label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  cursor: pointer;
  width: 96px;
  height: 98px;
  border-radius: 12px;
  color: var(--blue-100, #0080c1);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  transition: all 0.2s;
}

.main-checbox label:hover {
  transform: scale(1.05);
  background-color: #d5ff8c;
}

.main-checbox input[type='radio'] {
  position: absolute;
  display: none;
}

.main-checbox input[type='radio']:checked + label {
  background-color: #d5ff8c;
}

.button-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--salad-60, #7ac100);
  border-radius: 12px;
  margin-top: 67px;
  width: 246px;
  height: 48px;
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Stratos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  transition: all 0.2s;
}

.button-start-again {
  margin: 0;
}

.button-start-new {
  margin-top: 40px;
}

.button-start:hover {
  transform: scale(1.02);
  background-color: rgb(164 201 99 / 60.8%);
}

.level {
  display: flex;
  justify-content: center;
}

.level-card {
  width: 95px;
  height: 133px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.1s;
}

.level-value {
  display: grid;
  grid-gap: 20px;
}

.level-easy {
  grid-template-columns: repeat(3, 12fr);
}

.level-medium {
  grid-template-columns: repeat(6, 12fr);
}

.level-hard {
  grid-template-columns: repeat(9, 12fr);
}

.popup {
  position: fixed;
  background: rgb(0 0 0 / 90%);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.popup-main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
