@font-face {
  font-family: Stratos;
  src: url('/fonts/stratosskyengweb-regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background: var(--blue-120, #004980);
  font-family: Stratos;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 774px;
  padding: 158px 272px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 46px;
  &-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  &-text {
    color: #fff;
    font-family: Stratos;
    font-variant-numeric: lining-nums proportional-nums;
    font-style: normal;
    font-weight: 400;
    &-count {
      font-size: 64px;
      line-height: 72px;
    }
  }
  &-text span {
    font-size: 16px;
    line-height: 32px;
    vertical-align: 3.8em;
    margin-left: -1.8em;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c2f5ff;
  width: 480px;
  height: 459px;
  border-radius: 12px;

  &-text {
    width: 208px;
    color: #004980;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Stratos;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }

  &-checbox {
    display: flex;
    gap: 26px;
    margin-top: 48px;

    &-text {
      color: var(--blue-100, #0080c1);
      text-align: center;
      font-family: Stratos;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 72px;
    }
  }

  &-checbox label {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    width: 96px;
    height: 98px;
    border-radius: 12px;
    color: var(--blue-100, #0080c1);
    font-family: Stratos;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.05);
      background-color: #d5ff8c;
    }
  }

  &-checbox input[type='radio'] {
    position: absolute;
    display: none;
  }

  &-checbox input[type='radio']:checked + label {
    background-color: #d5ff8c;
  }
}

.button-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--salad-60, #7ac100);
  border-radius: 12px;
  margin-top: 67px;
  width: 246px;
  height: 48px;
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Stratos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  transition: all 0.2s;
  &-again {
    margin: 0;
  }
  &:hover {
    transform: scale(1.02);
    background-color: #a4c9639b;
  }
}

.card {
  width: 95px;
  height: 133px;
  cursor: pointer;
  &-shirt {
    background-image: url(/image/cardShirt.png);
    background-repeat: no-repeat;
  }
}

.level {
  display: flex;
  justify-content: center;
  &-card {
    width: 95px;
    height: 133px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 10px #a7cce5;
    }
    &-shirt {
      background-image: url(/image/cardShirt.png);
      background-repeat: no-repeat;
    }
  }
  &-value {
    display: grid;
    grid-gap: 20px;
  }
  &-easy {
    grid-template-columns: repeat(3, 12fr);
  }
  &-medium {
    grid-template-columns: repeat(6, 12fr);
  }
  &-hard {
    grid-template-columns: repeat(9, 12fr);
  }
}
